#contextmenu{
        margin:0;
        padding:0;
        border: 1px solid #000;
        background:#ccc;
}
#contextmenu li {
    list-style-type:none;
    margin:1px;
    padding:2px;
    cursor:pointer;
}
#contextmenu li.hover{
    background: #ddd;
}