html {
	overflow-y: scroll;
	text-align: left;
}

body {
	padding: 0px;
	margin: 0px;
}

#wrap {
 width:998px;
 margin:0 auto;
 background:#fff;
 text-align: left;
 border-left: 1px solid grey;
 border-right: 1px solid grey;
 border-bottom: 1px solid grey;
}

#header {
background: rgb(108,199,0);
width: 998px:
height: 50px;
}

#nav {
clear: both;
width: 1000px;
}

#menu {
clear: both;
width: 988px;
padding: 5px;
}

#bar1 {
float:left;
width:480px;
height: 640px;
}

#bar2 {
float:right;
height: 640px;
width: 480px;
}

#bigbox {
	width: 980px;
	padding: 20px;
	margin 9px;
	font-size: 16px;
}

#footer {
clear:both;
background: rgb(108,199,0);
}

.listcontainer
{
	width: 470px;
	padding: 5px;
	margin: 0.3em auto;
	overflow-y: auto;
	height: 530px;
}

.listbox
{
	
}
