html {
  font-family: helvetica, arial sans-serif;
}

.mainbox {
	background-color: rgb(200,200,200);
	text-align: left;
	padding: 10px;
}

.listbox {
	padding: 0px;
	margin-left: 0px;
	padding: 5px;
	border: 1px solid grey;
}

.listbox ul {
	margin-left: 0px;
	text-align: left;
}

#header {
	background-color: rgb(200,200,200);
	background-image: url(http://myspotlib.com/images/logo.png);
	background-repeat: no-repeat;
}

#menu {
	text-align: right;

	border-top: 1px solid grey;
	border-bottom: 1px solid grey; 
	
}

#menu a {
	background-color: #FFFFFF;
	padding: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border: 1px solid black;
	width: 100px;
	display: inline;
	margin: 4px;
	text-decoration: none;
}



.listbox li {
text-align: left;
list-style: none;
border: 1px solid grey;
padding: 3px;
cursor: hand;
margin-bottom: 5px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;	
background-color: #EEEEEE;
}

.listbox .listbutton {
	background-color: #EEEE00;
}


.listbox li:hover {
	background-color: rgb(255,255,255);
	cursor: pointer;
}

h1 {
	color: black;
	text-align: center;
	
}



#header {
	width: 100%;
	height: 50px;
	
}

#controlarea {
	width: 978px;
	height: 120px;
	background-color: rgb(108,199,0);
	padding: 10px;
	border-bottom: 1px solid grey;
	display: none;
}

#dropper
{
	
}

#dropper input
{
	background-image: url(http://myspotlib.com/images/dropboxback.png);
	font-size: 16px;
	text-align: center;

	height: 96px;
	width: 450px;
	float: left;
	
	margin: 5px;
	padding: 5px;
	border: 1px solid black;
}

#result {
	background-color: #FFFFFF;
	width: 380px;
	height: 96px;
	overflow-y: hidden;
	display: block;
	float: left;
		
	margin: 5px;
	padding: 5px;
	border: 1px solid black;

}

#autochoose {

	display: block;
	margin: 5px;
	padding: 5px;
	float: left;
}

#addbutton {
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	
	font-size: 14px;
	text-align: center;
	font-weight: bold;
	display: block;
	width: 80px;
	height: 40px;
	background-color: #EEEEEE;
	float: left;
		margin: 5px;
	padding: 5px;

	padding-top: 20px;
	padding-bottom: 0px;
	border: 1px solid black;
}

.tooltip {
	display:none;
	background:transparent url(http://myspotlib.com/images/infobg90.png);
	border: 2px solid rgb(50,50,50);
	width:320px;
	height: 200px;
	overflow: hidden;
	padding:10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	z-index: 1000;	
}

.tooltip .title {
	padding: 0px; 
	margin: 0px;
	width: 300px;
	height: 120px;
	font-size: 14px;
	color:#000;
	float: left;
}

.tooltip .controls {
	padding: 0px; 
	margin: 0px;
	width: 166px;
	height: 22px;
	font-size: 14px;
	text-align: right;
	vertical-align: bottom;
	float: left;
	background-color: red;
	padding-left: 10px;
}

.cover {
	width: 142px;
	height: 142px;
	float: left;
}

.cover img {
	width: 140px;
	height: 140px;
}

.s_album {
	width: 158px;
	height: 158px;
	margin: 4px;
	float: left;
	overflow: hidden;
	position: relative;
}

.s_album img {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 156px;
	height: 156px;
	border: 1px solid black;
}

.s_album .s_info {
	position: absolute;
	background-image: url(http://myspotlib.com/images/infobg80.png);
	bottom: 1px;
	left: 1px;
	width: 152px;
	padding: 2px;
	border-top: 1px solid black;
	display: none;
	
}
